.hourglass {
  &::before {
    /* Bootstrap icon CSS */
    display: inline-block;
    content: "\F420";
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;

    animation: hourglass 2s ease-in-out infinite forwards;
    transform: rotate(-180deg);
  }

  @keyframes hourglass {
    0% {
      content: "\F420";
      transform: rotate(-180deg);
    }

    33% {
      transform: rotate(0deg);
    }

    66% {
      content: "\F41F";
    }

    100% {
      content: "\F41E";
      transform: rotate(0deg);
    }
  }
}
