.placeholder-loading {
  @apply rounded relative overflow-hidden;
  @apply bg-primary dark:bg-secondary;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
  }

  &::after {
    content: "";
    box-shadow: 0 0 50px 9px rgba(254, 254, 254);
    position: absolute;
    top: 0;
    left: -100%;
    animation: loading 1s infinite;
  }
}

@keyframes loading {
  0% {
    left: -100%;
  }

  100% {
    left: 150%;
  }
}
